html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column-reverse;
} 

nav {
    background-color: rgb(175, 120, 226);
    top: 0.7rem;
    left: 0.7rem;
    right: 0.7rem;
    display: flex;
    justify-content: flex-end ;
    padding: 2rem;
    font-family: monospace;
    color: white;  
   
}

nav a {
    margin-right: 3rem;
    margin-top: 0.8rem;
}
a:hover {
    color: rgb(11, 237, 230);
}

#absoluttVerdi {
    position: fixed;
}

h2 {
    font-size: 1.7rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 4.7rem;
}

h1 {
    display: flex ;
    justify-content: flex-start;
    margin-left: 5rem;
  
}

nav > p {
    margin-right: auto;
}


#container {
    position: relative;
}

#sirkulærBoks {
    margin-left: 5rem;
    margin-top: 12rem;
    border: 0.1rem solid black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
        display: flex;
            flex-direction: column;
                position: absolute;
}

#sirkulærBoks h1 {
    margin-left: 4rem;
}
#sirkulærBoks h2 {
    margin-left: 2rem;
}

#aboutContainer {
    margin-left: auto;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#aboutMe {
    /* margin-top: 16rem; */
    margin-right: 15rem;
    /* display: flex;
    justify-content: flex-end; */
}

#pAboutMe {
    border: 0.1rem solid black;
    width: 25%;
    /* display: flex;
    justify-content: flex-end; */
}

@media only screen and (max-width: 900px) {
    body {
        background-color: aqua;
    }
}